.root {
    /*-fx-background-image: url("background.jpg");*/
    -fx-background-color: #2A5058;
    -fx-text-fill: BLACK;
    -fx-font-family: "Arial Narrow";
}
.Dark-UX {
    -fx-background-color: #2A5058;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;

}
.Dark-UX2 {
    -fx-background-color: #a47070;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;

}
#rightScrollPane{
    -fx-background-color: #795050;
}
#rightVBox{
    -fx-background-color: #795050;
}
.tab{
    -fx-background-color: #ba1347;
    -fx-border-color: #c16681;

}
.menu-bar {
    -fx-background-color: #c16681;
    -fx-border-color: #960077;
}

.progress-bar:filled {
    -fx-background-color: #2A5058;
    -fx-border-color: #61a2b1;
}
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused { -fx-background-color: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

.choice-box {
    -fx-background-color: grey;
    -fx-border-color: #ba1347;
    -fx-text-fill: #ffffff;
    -fx-mark-color: #ff6c77;
}
.choice-box .context-menu {
    -fx-background-color: BLACK;
    -fx-text-fill: #ffffff;

}

.text-field {
    -fx-background-color: grey;
    -fx-border-color: #ba1347;
    -fx-text-fill: #ffffff;

}
.radio-button{
    /*-fx-background-color: #61a2b1;*/
    /*-fx-border-color: #2A5058;*/
    -fx-fill: #ba1347;
    -fx-font-weight: bold;
    -fx-progress-color: #ba1347;
    -fx-text-fill: #ffffff;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#txtStatus {
    -fx-fill: #f3efef;
    -fx-font-weight: bold;
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
    -fx-text-fill: #ffffff;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ba1347, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #ba1347);
}