.root {
    /*-fx-background-image: url("background.jpg");*/
    -fx-background-color: #2A5058;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial Narrow";
}
.Dark-UX {
    -fx-background-color: #2A5058;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;

}
.Dark-UX2 {
    -fx-background-color: #a7a7a7;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;

}
#rightScrollPane{
    -fx-background-color: #a7a7a7;
}
#rightVBox{
    -fx-background-color: #a7a7a7;
}
.tab{
    -fx-background-color: #61a2b1;
    -fx-border-color: #2A5058;

}
.menu-bar {
    -fx-background-color: #61a2b1;
    -fx-border-color: #2A5058;
}

.progress-bar:filled {
    -fx-background-color: #2A5058;
    -fx-border-color: #61a2b1;
}

.choice-box {
    -fx-background-color: #61a2b1;
    -fx-border-color: #2A5058;
    -fx-text-fill: #ffffff;
    -fx-mark-color: #00ffe1;
}
.choice-box .context-menu {
    -fx-background-color: #08505a;
    -fx-text-fill: #ffffff;

}

.text-field {
    -fx-background-color: #61a2b1;
    -fx-border-color: #2A5058;
    -fx-text-fill: #ffffff;

}
.radio-button{
    /*-fx-background-color: #61a2b1;*/
    /*-fx-border-color: #2A5058;*/
    -fx-fill: #2A5058;
    -fx-font-weight: bold;
    -fx-progress-color: #61a2b1;
    -fx-text-fill: #ffffff;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#txtStatus {
    -fx-fill: #115767;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-text-fill: #ffffff;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}